/* Reset */
.hidden{
    opacity:0;
    transform:translateY(60px);
    transition:all .8s ease;
}

.show{
    opacity:1;
    transform:translateY(0);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
}

/* Navbar */

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:70px;
    display:flex;
    background:white;
    justify-content:space-between;
    align-items:center;
    padding:0 50px;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
    z-index:999;
}

.logo h2{
    color:#C59D1D;
    font-size:28px;
}

nav{
    display:flex;
    gap:25px;
}

nav a{
    text-decoration:none;
    color:#333;
    font-weight:bold;
    transition:.3s;
    position:relative;
}

nav a:hover{
    color:#C59D1D;
}
nav a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:0;
    height:3px;
    background:#C59D1D;
    border-radius:10px;
    transition:0.3s;
}

nav a:hover::after{
    width:100%;
}

#darkMode{
    width:45px;
    height:45px;
    border:none;
    border-radius:50%;
    background:#C59D1D;
    color:white;
    cursor:pointer;
}
.container{
    display: flex;
    margin-top: 90px;
    min-height: calc(100vh - 90px);
}

.sidebar{
    width: 350px;
    background: #1f232b;
    color: white;
    padding: 30px;
    box-shadow:6px 0 20px rgba(0,0,0,.25);
}

.content{
    flex: 1;
    padding: 30px;
    background: #f5f5f5;
}
.profile{

    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #C59D1D;
    display:block;
    margin:auto;
    transition:.4s;

}
.profile:hover{
    transform:scale(1.05);
}

.sidebar h2{

    text-align:center;
    margin-top:20px;
    font-size:40px;
}

.sidebar p{

    text-align:center;
    color:#D6D6D6;
    line-height:1.6;

}
.sidebar .job{
    color:#C59D1D;
    text-align:center;
    margin-bottom:20px;
}
.job{
    text-align:center;
    color:#d9d9d9;
    font-size:18px;
    margin-bottom:20px;
    margin-top:8px;
}
.sidebar hr{
    border:1px solid #C59D1D;
    margin:25px 0;
}

.sidebar h3{
    color:#C59D1D;
    margin-bottom:20px;
    font-size:22px;
    text-align:left;
}

.sidebar p{
    margin-bottom:15px;
    line-height:1.5;
    text-align:left;
}
.sidebar h4{
    color:#C59D1D;
    margin-top:20px;
    margin-bottom:5px;
    font-size:18px;
}
.sidebar a{
    color:white;
    text-decoration:none;
}
.sidebar p{
    color:#ffffff;
    margin-bottom:15px;
}
.skill{
    margin-bottom:20px;
}

.skill span{

    display:block;

    margin-bottom:8px;

    color:white;

    font-weight:bold;

}

.bar{

    width:100%;
    height:10px;
    background:#555;
    border-radius:20px;
    overflow:hidden;

}

.html{

    width:90%;

    height:100%;

    background:#C59D1D;

}

.css{

    width:85%;

    height:100%;

    background:#C59D1D;

}

.javascript{

    width:75%;

    height:100%;

    background:#C59D1D;

}

.cpp{

    width:80%;

    height:100%;

    background:#C59D1D;

}
.skill-title{
    display:flex;
    justify-content:space-between;
    margin-bottom:25px;
}

.skill-title span:first-child{
    color:white;
    font-weight:bold;
}

.skill-title span:last-child{
    color:#C59D1D;
    font-weight:bold;
}
.bar{
    margin-top: 8px;
    margin-bottom: 20px;
}

.content{
    flex:1;
    padding:100px 50px 50px;
    background:#f8f8f8;
}

.content section{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    margin-bottom:30px;
}

.content h2{
    color:#C59D1D;
    margin-bottom:20px;
    border-left:5px solid #C59D1D;
    padding-left:10px;
}

.content p{
    color:#555;
    line-height:1.8;
    text-align:justify;
}
.card{
    background:#ffffff;
    border-left:6px solid #C59D1D;
    padding:25px;
    margin-top:20px;
    border-radius:12px;
    box-shadow:0 6px 18px rgba(0,0,0,.08);
    transition:all .3s ease;
}
.card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 30px rgba(0,0,0,.15);
}
.card h3{
    color:#222;
    margin-bottom:5px;
}

.card span{
    color:#C59D1D;
    font-weight:bold;
    display:block;
    margin-bottom:10px;
}

.card p{
    color:#555;
}
.card{
    display:flex;
    gap:20px;
    padding:25px;
    background:#ffffff;
    border-radius:10px;
    margin-bottom:20px;
}
.section-title{
    font-size:34px;
    font-weight:700;
    color:#C59D1D;
}

.tahun{
    width:120px;
    color:#C59D1D;
    font-weight:bold;
}

.isi{
    flex:1;
}

.isi h3{
    margin-bottom:5px;
}

.isi h4{
    color:#666;
    margin-bottom:10px;
}

.isi ul{
    padding-left:20px;
}

.isi li{
    margin-bottom:8px;
    color:#555;
}
.content-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 30px;
    align-items: flex-start;
}

.left-content{
    flex: 1;
}

.right-content{
    flex: 1;
}

/* ================= RIWAYAT PEKERJAAN ================= */

#pengalaman h2{
    color: #c58d18;
    margin-bottom: 25px;
}

.timeline{
    position: relative;
    padding-left: 30px;
    margin-top: 25px;
}
.timeline::before{
    content: "";
    position: absolute;
    left: 14px;
    top: 0;
    bottom: 0;
    width: 6px;
    background: #c58d18;
    border-radius: 10px;
}

.item{
    position: relative;
    display: flex;
    gap: 25px;
    margin-bottom: 55px;
    padding: 20px;
    border-radius: 20px;
    transition: all .3s ease;
}
.item:hover{
    background:#ffffff
    border:1px solid rgba(197,157,29,.5);
    transform:translateY(-5px);
    box-shadow:0 12px 28px rgba(0,0,0,.12);
    border-radius: 15px;
}

.item::before{
    content: "";
    position: absolute;
    left:-21px;
    top:  0;
    width: 16px;
    height: 16px;
    background: #c58d18;
    border-radius: 50%;
    border: 3px solid #fff;
}
.item:hover::before{
    transform:scale(1.4);
    background: #e0a300;
}

.item .tahun{
    min-width: 120px;
    font-weight: bold;
    color: #555;
}

.item .isi{
    flex: 1;
}

.item .isi h3{
    margin-bottom: 12px;
    color: #222;
    font-size: 20px;
}

.item .isi ul{
    margin-left: 20px;
}

.item .isi li{
    margin-bottom: 10px;
    line-height: 1.8;
    color: #555;
}
/* ================= SERTIFIKAT ================= */

#sertifikat{
    margin-top:50px;
    background:transparent
    box shadow: none;
    padding:0;
}

#sertifikat h2{
    color:#C59D1D;
    margin-bottom:25px;
}

.sertifikat-card{
    background:#fff;
    border-left:5px solid #C59D1D;
    border-radius:12px;
    padding:25px;
    margin-bottom:25px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition: 0.3s;
}
.sertifikat-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 30px rgba(0,0,0,.15);
}

.sertifikat-card h3{
    color:#222;
    font-size:24px;
    margin-bottom:15px;
}

.sertifikat-card p{
    margin:10px 0;
    font-size:17px;
    line-height:1.7;
    color:#555;
    text-align:left;
}

.sertifikat-card strong{
    color:#222;
}